set easymotion
set relativenumber
set number
set NERDTree

let mapleader = ","

map <leader>f :NERDTreeFind<CR>
map <leader>n :NERDTreeToggle<CR>
map <leader>\| :action SplitVertically<CR>
map <leader>- :action SplitHorizontally<CR>
map <C-l> :action NextSplitter<CR>
map <C-h> :action PrevSplitter<CR>
map <Space> :action EditorPageDown<CR>
map <-> :action EditorPageUp<CR>
map <leader>t :action GotoFile<CR>
map <leader>g :action FindInPath<CR>
map <leader>c oconsole.log(`===========\n${JSON.stringify(, null, 2)}\n===========`);<Esc>F(a
map <Leader>z oconsole.dir(, { depth: null });<Esc>F(a
map ; :action RecentFiles<CR>
map <leader>dd :action GotoDeclaration<CR>
map <leader>DD :action GotoTypeDeclaration<CR>
map <leader>dr :action FindUsages<CR>
map <leader>h :%s//
map <C-o> :action Back<CR>
map <C-i> :action Forward<CR>
map <C-c> "+y

sethandler a:vim
